<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hamamlaha"
        tools:targetApi="35">
        <activity
            android:name=".screens.Step3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2HairActivity"
            android:exported="false" />
        <activity
            android:name=".screens.StepFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".screens.PickCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".screens.UsersListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.SignoutActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2PedicureActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2EyelashesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2EyebrowsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2NailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Step2LaserActivity"
            android:exported="false" />
        <activity
            android:name=".screens.updateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>